apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-express-depl
  labels:
    app: mongo-express
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo-express
  template:
    metadata:
      labels:
        app: mongo-express
    spec:
      containers:
        - name: mongo-express
          image: mongo-express
          ports:
            - containerPort: 8081
          env:
            - name: ME_CONFIG_MONGODB_ADMINUSERNAME
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: mongo-root-username

            - name: ME_CONFIG_MONGODB_ADMINPASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: mongo-root-password

            - name: ME_CONFIG_MONGODB_SERVER
              valueFrom:
                configMapKeyRef:
                  name: configmap-mongodb
                  key: data_base_url
---
apiVersion: v1
kind: Service
metadata: 
  name: mongo-express-service
spec: 
  selector:
    app: mongo-express
  type: LoadBalancer #external services for external interaction
  ports:    
    - protocol: TCP
      port: 8081
      targetPort: 8081
      nodePort: 30000 #port of external access

# then run minikube service mongo-express-service 
# ==================================>
# ┌───────────┬───────────────────────┬─────────────┬───────────────────────────┐
# │ NAMESPACE │         NAME          │ TARGET PORT │            URL            │
# ├───────────┼───────────────────────┼─────────────┼───────────────────────────┤
# │ default   │ mongo-express-service │ 8081        │ http://192.168.49.2:30000 │
# └───────────┴───────────────────────┴─────────────┴───────────────────────────┘